


// start header
.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    color: #fff;
    padding-right: 2rem;
    margin: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;

    .logo {
        margin: .5rem;
        color: purple;
        font-weight: 1000;
        font-size: 2rem;
    }

    nav ul {
        display: flex;
        list-style: none;
        padding-top: 1.5rem;

        li {
            margin-left: 1rem;
            cursor: pointer;
        }
        li:hover {
            color: #fff;
            background: purple;
            padding: 0 .5rem;
            border-radius: 5px;
        }
    }
}


// start body

.body {
    // background: #fff;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    .body-title {
        color: purple;
    }
    .input {
        padding: 1rem 5rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        // border-width: 0;
        border: 2px solid purple;
    }

    .searchbtn {
        padding: 1rem;
        background: purple;
        color: #fff;
        border-width: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.gif-display {
    position: relative;
    // z-index: 100;
    display: grid;
    justify-items: center;

    .each-gif {
        border-radius:5px;
        margin: 1rem;
        cursor: pointer;
        position: relative;
        z-index:1;

        .image {
            width: 350px;
            height: 300px;
            border-radius: 10px;
        }
    }
}

@media(min-width:576px) {
    .gif-display {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }
}

@media(min-width:768px) {
    .gif-display {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
}
}

@media(min-width:1300px) {
    .gif-display {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
}
}